#
#
# kps-web-user deployment.yaml
#
#
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kps-web-user
  namespace: kps
  labels:
    app: kps-web-user
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kps-web-user
  template:
    metadata:
      labels:
        app: kps-web-user
    spec:
      containers:
      - name: kps-web-user
        image: kps-container-registry.ncr.gov-ntruss.com/kps-web-user:1.62 
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 300m
            memory: 1000Mi
          limits:
            cpu: 800m
            memory: 3000Mi
        ports:
        - containerPort: 8080
        volumeMounts:
        - mountPath: /var/vcap/data
          name: backup-storage
      volumes:
      - name: backup-storage
        persistentVolumeClaim:
          claimName: backup-pv-claim
      imagePullSecrets:
        - name: ncp-container

        
