#
#
# kps-web-admin deployment.yaml
#
# 
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kps-web-admin
  namespace: kps
  labels:
    app: kps-web-admin
spec:
  replicas: 1
  selector:
    matchLabels:
      app: kps-web-admin
  template:
    metadata:
      labels:
        app: kps-web-admin
    spec:
      containers:
      - name: kps-web-admin
        image: kps-container-registry.ncr.gov-ntruss.com/kps-web-admin:1.37 
        imagePullPolicy: Always
        resources:
          requests:
            cpu: 300m
            memory: 750Mi
          limits:
            cpu: 750m
            memory: 2500Mi        
        ports:
        - containerPort: 8090
        volumeMounts:
        - mountPath: /var/vcap/data
          name: backup-storage
      volumes:
      - name: backup-storage
        persistentVolumeClaim:
          claimName: backup-pv-claim
      imagePullSecrets:
        - name: ncp-container
